.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 320px;

  & div {
    display: flex;
    margin: 0.5rem 0;
    flex-direction: column;
    width: 290px; 
  }

  & input[type=date] {
    text-align: center;
  }

  & button {
    width: 290px;
  }
}

.form textarea {
  height: 150px;
}