.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;

  & div {
    display: flex;
    margin: 0.5rem 0;
    flex-direction: column;
    width: 290px; 
  }

  & input[type=date] {
    text-align: center;
  }

  & button {
    width: 290px;
  }
}

.form textarea {
  height: 150px;
  resize: none;
  font-size: 0.9rem;
}