@import "../../styles/variables.scss";

.calendarWrapper {
  background: rgba(255,255,255, 0.2);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow: visible;
  position: relative;
}

.reactCalendar__main {
  width: 520px;
  height: 496px;
  border: none;
  box-shadow: 2px 2px 5px 1px $primary-1;
  border-radius: 8px;
  padding: 0.7rem;

  & div:first-of-type {
    height: 50px;
  }

  & button {
    height: 70px;
  }

}

.reactCalendar__tile {
  position: relative;
}

.ulReset {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
}

.liItem {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 1px;
}

.eventInfoWrapper {
  background: rgba(255,255,255, 0.2);
  flex-grow: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background: rgb(209, 214, 218);
  background-image: url('https://images.pexels.com/photos/1095601/pexels-photo-1095601.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.sessionWrapper {
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 5px 1px $primary-1;
  display: flex;
  position: absolute;
  left: 50%;
  top: 100px;
  padding: 1rem;
  border-radius: 8px;
  transform: translateX(290px);

  & div {
    width: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & p {
      margin: 0 0 20px;
    }

    & button {
      all: unset;
      background:$primary-2-dark;
      color: #fff;
      height: 46px;
      border-radius: 6px;
    }
  }
}