@import "../../styles/variables.scss";

.wrapper {
  background: $primary-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2px;
  color: #000;
  border: 1px solid $primary-1-light;
  flex-grow: 0.45;


  & * {
    font-weight: 700;
    font-size: 1rem;
  }

  & p {
    color: $primary-3;
    margin: 0.5rem 0;
  }

  & p:nth-of-type(1) {
    color: $calendar-1;
  }

  & p:nth-of-type(2) {
    color: $calendar-2;
  }

  & p:nth-of-type(3) {
    color: $calendar-3;
  }

  & p:nth-of-type(4) {
    color: $calendar-4;
  }

  & p:nth-of-type(5) {
    color: $calendar-5;
  }

  & p:nth-of-type(6) {
    color: $calendar-6;
  }
}

@media (max-width: 1390px) {
  .wrapper {

    & * {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    flex-grow: 1;
  }
}

@media (max-width: 680px) {
  .wrapper {
    display: none;
  }
}