@import "../../styles/variables.scss";

.calendarWrapper {
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  padding-top: 70px;
  background: $primary-3;
}

.reactCalendar__main {
  width: 400px;
  height: 500px;
  border: none;
  border-radius: 2px;
  padding: 0 0.7rem;
  border: 1px solid $primary-1-light;
  align-self: center;
  
  & div:first-of-type {
    height: 50px;
  }

  & button {
    height: 70px;
  }
}

.reactCalendar__tile {
  position: relative;
}

.ulReset {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
}

.liItem {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 1px;
}

.eventInfoWrapper {
  position: relative;
  display: flex;
  flex-grow: 0.7;
  flex-direction: column;
  align-items: center;
  height: 700px;
  margin: 0 1rem;
  max-width: 70ch;

  & h2 {
    font-family: "Philosopher", sans-serif;
    font-size: 1.6rem;
    color: $primary-1;
    padding: 0 1rem 1rem 1rem;
    background: $primary-3;
    border-radius: 2px;
    margin: 0;
    width: 100%;
  }

  & p:first-child {
    font-family: "Philosopher", sans-serif;
    font-size: 1.3rem;
  }

  & ul {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin: 0 0 2rem;
    padding: 0.5rem;

    & li {
      display: flex;
      flex-direction: column;
    }

    & header,
    div {
      display: flex;
      background: $primary-3;
    }

    & h4 {
      margin: 0;
      padding: 0.7rem 1.2rem;
      min-width: 13ch;
      text-align: center;
      background: $primary-1;
      color: $primary-3;
    }

    & p {
      padding: 0.7rem 0.9rem;
      margin: 0;
      width: 100%;
    }
  }
}

.wrapper {
  background: rgb(209, 214, 218);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.sessionWrapper {
  background: $primary-3;
  color: #000;
  box-shadow: 0 0 2px 1px $primary-1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  flex-grow: 0.8;

  & div {
    width: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
      margin: 0 0 20px;
    }

    & button {
      all: unset;
      background: $primary-2-dark;
      color: $primary-3;
      height: 46px;
      border-radius: 6px;
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 500px;
  
}

.sessionLogWrapper {
  position: absolute;
  top: 100px;
  right: 15px;
  background: #fafafa;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 2px 2px 5px 1px rgb(35,29,0);
}
