@import "../../styles/variables.scss";

.paragraph {
  text-align: center;
  font-family: inherit;
  margin: 30% auto;
  font-size: 1.6rem;
  display: initial;
  color: "#231d00"
}

.eventParagraph {
  padding: 0.7rem 0.9rem;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.01rem;
  border-bottom: 1px solid #dcdcdc;
}

.liItem {
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  all: unset;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.span {
  background: red;
  color: #fff;
  width: 100%;
  display: inline-block;
  padding: 0.5rem;
}

.iconWrapper {
  margin: 0;
  padding: 0.7rem;
  min-width: 80px;
  min-height: 70px;
  text-align: center;
  background: $primary-1;
  color: $primary-3;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    background: $primary-1;
  }
}

