@import '../../styles/variables';
@import '../../styles/mixins.scss'; 

.card {
  background: $primary-3;
  border-radius: 6px;
  box-shadow: 2px 1px 1px 1px $primary-4;
  color: $primary-1;
  display: flex;
  flex-direction: column;
  height: 304px;
  width: 265px;
  margin: 1.5vw;
  overflow: hidden;
  z-index: 50;
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);

  &:hover {
    cursor: pointer;
  }

  & * {
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);
  }

  &:hover:not(.active) h3{
    color: $primary-2;
  }
}

.card header  {
  height: 247px;
}

.card div {
  @include flex-center;
  flex-direction: column;
}

.cardText {
  display: flex;
}

.cardText h3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  max-width: 14ch;
  min-height: 55px;
  font-size: 1.2rem;
}

.cardText p {
  font-size: 0.9rem;
  margin-top: 5px;
  min-height: 180px;
  line-height: 1.05;
  margin: 0;
  padding: 0.4rem 1.6rem;
  white-space: pre-wrap;
  text-align: center;
}

.active {
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);
  box-shadow: 2px 1px 2px 2px $primary-2;
  transform: scale(1.08);
  z-index: 100;
}

.active header {
  transform: translateY(-100%);
}

.active .cardText {
  transform: translateY(-14rem);
}

.active .cardText h3 {
  background: inherit;
  color: $primary-2;
  max-width: 16ch;
  margin-top: 7px;
  padding: 0.6rem 0.6rem 0;
}

.active:nth-of-type(1) .cardText {
  margin-top: 0.2rem;
}

.active:nth-of-type(2) .cardText  {
  margin-top: 0.6rem;
}

.active:nth-of-type(3) .cardText h3 {
  margin-top: 0;
}

.active:nth-of-type(4) .cardText  {
  margin-top: 0.5rem;
}

.active:nth-of-type(5) .cardText h3  {
  margin-top: 0;
}

.active:nth-of-type(6) .cardText  {
  margin-top: 2.8rem;
}

@media (max-width: 563px) {
  .active {
    margin: 15px 0;
  }
}




