@import "../../styles/variables.scss";

.container {
  display: flex;
  box-shadow: 0 0 5px 1px $primary-1-light;
  max-width: 687px;
  margin: 0.5rem 0;
  border-radius: 2px;
  position: relative;
  flex-grow: 1;
  margin-bottom: 20px;

  & a,
  div {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.2rem;
  }

  & a {
    background: $primary-3-dark;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    min-width: 298px;

    & img {
      margin: 0 auto;
    }

    &:hover {
      background: $primary-3;
      outline: 4px double $primary-3-dark;
      border-radius: 2px;
      transform: scale(1.01);
    }
  }

  & div {
    width: 100%;
  }
}

.liItem {
  display: inline-block;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background: black;
    position: absolute;
    border-radius: 50%;
    top: 9px;
    left: -12px;
  }
}

.paragraph {
  margin: 0;
  width: 95%;
}

.iconWrapper {
  position: absolute;
  top: 2%;
  right: 1%;
  margin: 0;
  background: $primary-1;
  color: $primary-3;
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  & * {
    background: $primary-1;
  }

  & address {
    width: 0;
    height: 0;
  }

  &:hover {
    cursor: pointer;
    overflow: visible;

    & address {
      position: absolute;
      text-align: center;
      transform: translateX(-35%);
      width: 19ch;
      height: 52px;
      padding-top: 0.15rem;
      border-radius: 3px;
    }
  }
}

@media (max-width: 1390px) {
  .container {
    width: 687px;
  }
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
    width: 90%;

    & a {
      align-items: center;
    }
  }
}

@media (max-width: 335px) {
  .container {
    & a {
      min-width: 278px;
    }
  }
}
