@import "../styles/variables";
@import "../styles/mixins.scss";

.aside {
  background-color: #000000;
  background-image: linear-gradient(330deg, #000000 20%, #241895 99%);
  box-shadow: -2px 0 5px 1px $primary-1;
  color: $primary-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/3;
  text-align: center;
  padding: 4rem 2.8rem 0 ;
}

.aside p {
  max-width: 24ch;
}

@media (max-width: 1070px) {
  .aside {
    flex-direction: row;
    padding: 0 0 1.2rem;
    width: 100%;

    & div {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;

      & p {
        margin: 1.2rem auto;
        text-align: center;
      }
    }
  }
}

@media (max-width: 725px) {
  .aside {
    flex-direction: column;
  }
}