@import "../styles/variables";
@import "../styles/mixins.scss";

.aside {
  background-color: #000000;
  background-image: linear-gradient(330deg, #000000 20%, #6e1277 99%);
  box-shadow: -2px 0 30px 1px $primary-2-light;
  color: $primary-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/3;
  text-align: center;
  padding: 4rem 2.8rem 0 ;
}

.aside p {
  max-width: 24ch;
}
