@import '../styles/variables';
@import '../styles/mixins.scss';

.footer {
  grid-column: 1/3;
  background: $primary-1;
  border-top: 2px solid $primary-3;
  color: $primary-3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 0.65rem;
}

.footer div {
  margin: 0 5vw 0;
}

.footer a {
  color: $primary-2-light;
}