@import '../styles/variables';
@import '../styles/mixins.scss'; 

.card {
  background: $primary-3;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 2px $primary-1-light;
  color: $primary-1;
  display: flex;
  flex-direction: column;
  height: 304px;
  width: 265px;
  margin: 0.5rem;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}



.card header {
  transition: all 0.7s ease-in-out;
}

.card div {
  @include flex-center;
  flex-direction: column;
}

.cardText {
  font-size: 0.9rem;
  transition: all 0.7s ease-in-out;
  display: flex;
}

.cardText h3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  max-width: 14ch;
  min-height: 45px;
}

.cardText p {
  margin-top: 5px;
  min-height: 180px;
  padding: 0.4rem 1.6rem;
  text-align: center;
  white-space: pre-wrap;
  text-justify: auto;
  font-size: 0.85rem;
}

.active {
  box-shadow: 2px 1px 2px 2px $primary-2-light;

}

.active header,
.active .cardText {
  transform: translateY(-100%);
}

.active .cardText {
  transform: translateY(-85%);
}

.active .cardText h3 {
  color: $primary-2;
}


