@import '../styles/variables';
@import '../styles/mixins.scss'; 

.card {
  background: $primary-3;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 2px $primary-4;
  color: $primary-1;
  display: flex;
  flex-direction: column;
  height: 304px;
  width: 265px;
  margin: 1.5vw;
  overflow: hidden;
  z-index: 50;
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);

  &:hover {
    cursor: pointer;
  }

  & * {
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);
  }
}

.card header  {
  height: 247px;
}

.card div {
  @include flex-center;
  flex-direction: column;
}

.cardText {
  font-size: 0.9rem;
  display: flex;
}

.cardText h3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  max-width: 14ch;
  min-height: 55px;
  font-size: 1.2rem;
}

.cardText p {
  margin-top: 5px;
  min-height: 180px;
  padding: 0.4rem 1.6rem;
  text-align: center;
  white-space: pre-wrap;
  text-justify: auto;
  font-size: 0.85rem;
}

.active {
  transition: all 0.7s cubic-bezier(.19,.43,.78,1.04);
  box-shadow: 2px 1px 2px 2px $primary-2;
  transform: scale(1.08);
  z-index: 100;
}

.active header {
  transform: translateY(-100%);
}

.active .cardText {
  transform: translateY(-85%);
}

.active .cardText h3 {
  background: $primary-3;
  color: $primary-2;
  max-width: 16ch;
  padding: 0.6rem 0.6rem;
  margin-top: 7px;
}





