@import '../styles/variables';
@import '../styles/mixins.scss'; 

.card {
  border-radius: 10px;
  box-shadow: 1px 0 1px 1px $tertiary-2-2;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: hidden;
  margin: 0.7rem 0.8rem 2rem;
  min-width: 300px;
  width: 365px;

  &:hover {
    cursor: pointer;
  }
}

.card h3 {
  margin: 0;
  padding: 0.5rem;
}

.card p {
  margin-top: 0;
  padding: 30px;
}