@import '../styles/variables';
@import '../styles/mixins.scss';

.navbar {
  background-color: $primary-4;
  color: #fff;
  display: flex;
  font-family: "Staatliches", cursive;
  font-size: 1.7rem;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100vw;
  border-bottom: 2px double $primary-3;
  box-shadow: 5px 0 5px 1px $secondary-1-2;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 35vw;
}

.navbar li {
  color: inherit;
  letter-spacing: 0.5px;
  padding: 0 1.5rem 0 0;
}

.navbar a {
  @include flex-center;
}

.navbar span {
  margin-left: 10px;
}



