$primary-1: rgb(35, 29, 0);
$primary-2:#680808;
$primary-3: #fafafa;
$primary-4: rgb(70, 47, 10);

$primary-1-light: rgb(121, 115, 112);
$primary-2-light: #c8d4e4;

$primary-2-dark: rgb(59, 16, 5);;


