$primary-1: rgb(35, 29, 0);
$primary-2:#680808;
$primary-3: #fafafa;
$primary-4: rgb(70, 47, 10);

$primary-1-light: rgb(195, 189, 186);
$primary-2-light: #c8d4e4;

$primary-2-dark: rgb(59, 16, 5);

$primary-3-dark: #f3f2e9;

$calendar-1: rgb(255, 0, 0);
$calendar-2: rgb(251, 137, 7);
$calendar-3: rgb(117, 117, 97);
$calendar-4: rgb(27, 212, 36);
$calendar-5: #44d6db;
$calendar-6: rgb(174, 83, 207);


