@import "../../styles/variables.scss";

.paragraph {
  text-align: center;
  font-family: inherit;
  margin: 30% auto;
  font-size: 1.6rem;
  display: initial;
  color: "#231d00";
}

.header {
  z-index: 20;
}

.eventParagraph {
  position: relative;
  padding: 0.7rem 0.9rem;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.01rem;
  border-bottom: 1px solid #dcdcdc;
}

.liItem {
  position: relative;
  border-radius: 3px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms ease-in-out;
  max-width: 610px;

  &:first-of-type {
    margin-top: 13px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.adminWrapper {
  display: flex;
  position: absolute;
  top: -30px;
  left: 2px;
  justify-content: space-between;
}

.btn {
  all: unset;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
  z-index: 21;
  min-width: 30px;
  height: 30px;
}

.span {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 2px;
  padding: 0.1rem;
}

.Effacer {
  color: red;
  border: 2px solid red;
}

.Editer {
  color: lightslategrey;
  border: 2px solid lightslategrey;
}

.Edition {
  color: lightseagreen;
  border: 2px solid lightseagreen;
}

.Valider {
  color: #fff;
  background: rgb(0, 116, 0);
  border: 2px solid rgb(0, 116, 0);
  display: none;
}

.iconWrapper {
  margin: 0;
  padding: 0.7rem;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  background: $primary-1;
  color: $primary-3;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    background: $primary-1;
  }
}

.eventType {
  position: absolute;
  top: -21px;
  right: 8px;
  background: $primary-1;
  color: $primary-3;
  height: 25px;
  padding: 0 7px;
  font-weight: bolder;
  border-radius: 5px;
  z-index: 10;
}
