.form {
  position: fixed;
  top: 74px;
  right: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background: rgba(119, 119, 119, 0.9);
  padding: 1rem;
  color: #fafafa;

  & input[type=date] {
    text-align: center;
  }

  & button {
    width: 290px;
  }
}

.form textarea {
  height: 150px;
  resize: none;
  font-size: 0.9rem;
}